{% extends 'games/base.html' %}
{% load mathfilters %}
{% load crispy_forms_tags %}

{% block 'javascript' %}
<script>
    $('.comments__add form').submit(
        function (e) {
            console.log('CLICKED')
            e.preventDefault()
            let text = $('.comment-field').val()

            $.ajax({
                url: "{% url 'detail' data.game_id %}",
                data: {
                    'text': text
                },
                type: 'POST',
                dataType: 'json',
                success: function (data) {
                    $('.comment-field').val('')
                    console.log(data.comments)
                    comments = $.parseJSON(data.comments)[0]
                    date = moment(comments.pub_date).format("D MMMM, HH:mm:ss")
                    $('.comments__list').prepend(
                        "<div class='comments__comment row'>" +
                        "<div class='content-section col-4 mb-3'>" +
                        "<p><i>" +
                        comments.author__username +
                        " - " +
                        date +
                        "</i></p>" +
                        "<p>" +
                        comments.text +
                        "</p>" +
                        "</div>" +
                        "</div>"
                    )
                },
                error: function (xhr, errmsg, err) {
                    console.log(xhr.status + ": " + xhr.responseText)
                }
            });
        }
    )


    $(function () {


        // This function gets cookie with a given name
        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie != '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) == (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        var csrftoken = getCookie('csrftoken');

        /*
        The functions below will create a header with csrftoken
        */

        function csrfSafeMethod(method) {
            // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }
        function sameOrigin(url) {
            // test that a given url is a same-origin URL
            // url could be relative or scheme relative or absolute
            var host = document.location.host; // host + port
            var protocol = document.location.protocol;
            var sr_origin = '//' + host;
            var origin = protocol + sr_origin;
            // Allow absolute or scheme relative URLs to same origin
            return (url == origin || url.slice(0, origin.length + 1) == origin + '/') ||
                (url == sr_origin || url.slice(0, sr_origin.length + 1) == sr_origin + '/') ||
                // or any other URL that isn't scheme relative or absolute i.e relative.
                !(/^(\/\/|http:|https:).*/.test(url));
        }

        $.ajaxSetup({
            beforeSend: function (xhr, settings) {
                if (!csrfSafeMethod(settings.type) && sameOrigin(settings.url)) {
                    // Send the token to same-origin, relative URLs only.
                    // Send the token only if the method warrants CSRF protection
                    // Using the CSRFToken value acquired earlier
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        });

    });
</script>
{% endblock 'javascript' %}

{% block 'content' %}
<div class="col-12">
    <h2 class="mt-5 mb-3 header">{{data.home_team}} {{data.score}} {{data.away_team}}</h2>
    <div class="row">
        <div class="col-4 stats__team">
            <div class="row stats__header_row stats__row">
                <div class="col-4">
                    {{data.home_team_short}}
                </div>
                <div class="col-4"></div>
                <div class="col-4">
                    {{data.away_team_short}}
                </div>
            </div>
            <div class="row stats__row">
                <div class="col-4">
                    {{data.home_fg.fgm}}/{{data.home_fg.fga}} ({{data.home_fg.fgp}})</div>
                <div class="col-4">FG</div>
                <div class="col-4">{{data.away_fg.fgm}}/{{data.away_fg.fga}} ({{data.away_fg.fgp}})</div>
            </div>
            <div class="row stats__row">
                <div class="col-4">{{data.home_3p.3pm}}/{{data.home_3p.3pa}} ({{data.home_3p.3pp}})</div>
                <div class="col-4">3P</div>
                <div class="col-4">{{data.away_3p.3pm}}/{{data.away_3p.3pa}} ({{data.away_3p.3pp}})</div>
            </div>
        </div>
    </div>
    <h3 class="header">{{data.home_team_short}}</h3>
    <div class="boxscore">
        <table class="boxscore__table">
            <tr class="boxscore__table_header">
                <th>Player</th>
                <th>MIN</th>
                <th>FGM</th>
                <th>FGA</th>
                <th>FG%</th>
                <th>3PM</th>
                <th>3PA</th>
                <th>3P%</th>
                <th>FTM</th>
                <th>FTA</th>
                <th>FT%</th>
                <th>OREB</th>
                <th>DREB</th>
                <th>REB</th>
                <th>AST</th>
                <th>TOV</th>
                <th>STL</th>
                <th>BLK</th>
                <th>PF</th>
                <th>PTS</th>
            </tr>
            {% for player in data.home_players %}
            <tr>
                <td>{{player.fn}} {{player.ln}} <span class="position">{{player.pos}}</span></td>
                <td>{{player.min}}:{{player.sec}}</td>
                <td>{{player.fgm}}</td>
                <td>{{player.fga}}</td>
                {% if player.fgm == 0 or player.fga == 0 %}
                <td>0</td>
                {% else %}
                <td>{{ player.fgm|div:player.fga|mul:100|floatformat:1 }}</td>
                {% endif %}
                <td>{{player.tpm}}</td>
                <td>{{player.tpa}}</td>
                {% if player.tpm == 0 or player.tpa == 0 %}
                <td>0</td>
                {% else %}
                <td>{{ player.tpm|div:player.tpa|mul:100|floatformat:1 }}</td>
                {% endif %}
                <td>{{player.ftm}}</td>
                <td>{{player.fta}}</td>
                {% if player.ftm == 0 or player.fta == 0 %}
                <td>0</td>
                {% else %}
                <td>{{ player.ftm|div:player.fta|mul:100|floatformat:1 }}</td>
                {% endif %}
                <td>{{player.oreb}}</td>
                <td>{{player.dreb}}</td>
                <td>{{player.reb}}</td>
                <td>{{player.ast}}</td>
                <td>{{player.tov}}</td>
                <td>{{player.stl}}</td>
                <td>{{player.blk}}</td>
                <td>{{player.pf}}</td>
                <td>{{player.pts}}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
    <h3 class="header">{{data.away_team_short}}</h3>
    <div class="boxscore">
        <table class="boxscore__table">
            <tr class="boxscore__table_header">
                <th>Player</th>
                <th>MIN</th>
                <th>FGM</th>
                <th>FGA</th>
                <th>FG%</th>
                <th>3PM</th>
                <th>3PA</th>
                <th>3P%</th>
                <th>FTM</th>
                <th>FTA</th>
                <th>FT%</th>
                <th>OREB</th>
                <th>DREB</th>
                <th>REB</th>
                <th>AST</th>
                <th>TOV</th>
                <th>STL</th>
                <th>BLK</th>
                <th>PF</th>
                <th>PTS</th>
            </tr>
            {% for player in data.away_players %}
            <tr>
                <td>{{player.fn}} {{player.ln}} <span class="position">{{player.pos}}</span></td>
                <td>{{player.min}}:{{player.sec}}</td>
                <td>{{player.fgm}}</td>
                <td>{{player.fga}}</td>
                {% if player.fgm == 0 or player.fga == 0 %}
                <td>0</td>
                {% else %}
                <td>{{ player.fgm|div:player.fga|mul:100|floatformat:1 }}</td>
                {% endif %}
                <td>{{player.tpm}}</td>
                <td>{{player.tpa}}</td>
                {% if player.tpm == 0 or player.tpa == 0 %}
                <td>0</td>
                {% else %}
                <td>{{ player.tpm|div:player.tpa|mul:100|floatformat:1 }}</td>
                {% endif %}
                <td>{{player.ftm}}</td>
                <td>{{player.fta}}</td>
                {% if player.ftm == 0 or player.fta == 0 %}
                <td>0</td>
                {% else %}
                <td>{{ player.ftm|div:player.fta|mul:100|floatformat:1 }}</td>
                {% endif %}
                <td>{{player.oreb}}</td>
                <td>{{player.dreb}}</td>
                <td>{{player.reb}}</td>
                <td>{{player.ast}}</td>
                <td>{{player.tov}}</td>
                <td>{{player.stl}}</td>
                <td>{{player.blk}}</td>
                <td>{{player.pf}}</td>
                <td>{{player.pts}}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
    <div class="comments__add row mb-3">
        <div class="col-4">
            <form action="{% url 'detail' data.game_id %}" method="POST">
                {% csrf_token %}
                {{form|crispy}}
                <input class="btn comment-button" id="comment-button" type="submit" value="Post" />
            </form>
        </div>
    </div>
    <div class="comments__list">
        {% for comment in comments %}
        <div class="comments__comment row">
            <div class="content-section col-4 mb-3">
                <p><i>{{comment.author}} - {{comment.pub_date|date:'d F, H:i:s'}}</i></p>
                <p>{{comment.text}}</p>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock 'content' %}