{% extends 'games/base.html' %}
{% block 'content' %}
<div class="col-8 main-content">
    <div class="today-scores">
        <h4 class="header">Today scores</h4>
        {% for game in data %}
        <div class="today-scores__list content-section">
            {% if game.winner == 'home' %}
            <a href="{% url 'detail' game.id %}">
                <b>{{game.home_team}} {{game.home_team_score}}</b> - {{game.away_team_score}} {{game.away_team}}
            </a>
            {% else %}
            <a href="{% url 'detail' game.id %}">
                {{game.home_team}} {{game.home_team_score}} - <b>{{game.away_team_score}} {{game.away_team}}</b>
            </a>
            {% endif %}
            <div class="game-leaders row justify-content-center">
                <div class="col-10 stats__team">
                    <div class="row stats__header_row stats__row">
                        <div class="col-5">
                            {{game.home_team_short}}
                        </div>
                        <div class="col-2"></div>
                        <div class="col-5">
                            {{game.away_team_short}}
                        </div>
                    </div>
                    <div class="row stats__row">
                        <div class="col-5">
                            {{game.home_leaders.pts}}</div>
                        <div class="col-2">PTS</div>
                        <div class="col-5">
                            {{game.away_leaders.pts}}
                        </div>
                    </div>
                    <div class="row stats__row">
                        <div class="col-5">{{game.home_leaders.reb}}</div>
                        <div class="col-2">REB</div>
                        <div class="col-5">{{game.away_leaders.reb}}</div>
                    </div>
                    <div class="row stats__row">
                        <div class="col-5">{{game.home_leaders.ast}}</div>
                        <div class="col-2">AST</div>
                        <div class="col-5">{{game.away_leaders.ast}}</div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="reddit-posts">
        <h4 class="header">Top reddit posts</h4>
        <div class="reddit-posts__list">
            {% for post in posts %}
            <div class="content-section">
                <p>
                    <div class="post__title">
                        <a href="https://www.reddit.com{{post.link}}" target="_blank">
                            {{post.title}}
                        </a>
                    </div>
                    <div class="post__link"><a href="{{post.url}}" target="_blank">{{post.url}}</a></div>
                    <br>
                    <div class="post__info">{{post.score}} score, {{post.comments}} comments</div>
                </p>
                <div class="content-section">
                    <p><i>{{post.top_comment.author}}</i></p>
                    <p>{{post.top_comment.text}}</p>
                    <p class="post__info">{{post.top_comment.score}} score</p>
                </div>  
            </div>
            {% endfor %}
        </div>
    </div>
</div>
<div class="col-4 side-content">
    <div class="sidebar-content">
        <h4 class="header">Standings</h4>
        <div class="standings content-section">
            There will be standings table
        </div>
        <div class="leaders content-section">
            There will be leaders table
        </div>
    </div>
</div>
{% endblock 'content' %}